<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuperPacking.com</title>
</head>
<body style="background-color:#FAE5D3  ">
    <div>
        <div >
            <nav class="navbar navbar-expand-lg navbar-light bg-lightn" style="background-color: E97F39">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand ">SuperPacking</a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    </ul>
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Ingresar <span ></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registro/regis">Registrarse</a>
                    </li>
                </div>
            </nav>
            <h1></h1>
        </div>
        <h1></h1>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="..\imagenes\logo.jpg" width="1000" height="550" alt="">
                </div>
            </div>
            <h1></h1>
        </div>
        <div class="w-100"></div>
        <div class="row" >
            <div class="col" >
                <div class="card mb-20" >
                    <div class="row no-gutters">
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title" style="font-family: 'Baskerville Old Face'">¿Utilidad de la aplicación?</h5>
                                <p class="card-text" style="font-family: 'Comic Sans MS'">La aplicación esta destinada para personas de
                                    supermercados que trabajan en empaque, para que tengan un orden durante sus horas de desempeño.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <h1></h1>
            <div class="col">
                <div class="card mb-20" >
                    <div class="row no-gutters">
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title" style="font-family: 'Baskerville Old Face'">¿Comó usar la aplicación web?</h5>
                                <p class="card-text" style="font-family: 'Comic Sans MS'">Es muy facil ya que solo tienes que crearte una cuent y iniciar sesion
                                    para poder acceder a todas las funcionalidades que brindamos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-20" >
                    <div class="row no-gutters">
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title" style="font-family: 'Baskerville Old Face'">¿Qué funcionalidades tiene?</h5>
                                <p class="card-text" style="font-family: 'Comic Sans MS'">Contamos con un horario para que agregue sus horas de trabajo y en ella las pueda editar y borrar cuando usted guste, también con un bloc
                                    de notas que fácilmente puede anotar apuntes y con un contador donde usted podrá colocar el monto de su dinero que gano en el día y se sumando
                                    con el que agregue al siguiente día</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1></h1>
            <div class="col">

            </div>
        </div>

    </div>

    </div>


</body>

<!-- JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<!-- Nuestro css-->
<link rel="stylesheet"type="text/css"href="static/css/index.css">

</html>